{% extends 'main.html' %}
{% load static %}
{% block content %}

    <style>
        .profile-pic {
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            border-radius: 50%;
        }

        .car-pic {
            max-width: 50px;
            max-height: 50px;
            margin: 0 auto;
        }
    </style>

    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Home Page</a>
                <hr>
                <h3 style="text-align: center">Account Settings</h3>
                <hr>
                <img class="profile-pic" src="{{ request.user.visitor.profile_pic.url }}">

            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
            </div>
        </div>
    </div>
    <br>

    {% for branch  in branches %}

        <h1>{{ branch.place.capitalize}} Branch</h1>
        <h3>Cars</h3>
        <table class="table">
        <thead>
        <tr>
            <th scope="col">image</th>
            <th scope="col">brand</th>
            <th scope="col">model</th>
            <th scope="col">gearType</th>
            <th scope="col">fuelType</th>
            <th scope="col">isReserved</th>
            <th scope="col">isActive</th>
            <th scope="col">buyingDate</th>
        </tr>
        </thead>
        <tbody>
        {% for car in branch.car_set.all %}
            <tr>
                <td><img class="car-pic" src="{{ car.image.url }}"></td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.gearType }}</td>
                <td>{{ car.fuelType }}</td>
                <td>{{ car.isReserved }}</td>
                <td>{{ car.isActive }}</td>
                <td>{{ car.buyingDate }}</td>

            </tr>
            {% if car.reservations_set.all %}
                <h4>Reservations</h4>
                <table class="table">
                <thead>
                <tr>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Car</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in  car.reservations_set.all %}
                    <tr>
                        <td>{{ reservation.reservationDate }}</td>
                        <td>{{ reservation.receiveDate }}</td>
                        <td>{{ reservation.deliveryDate }}</td>
                        <td>{{ reservation.car }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}



        {% endfor %}
    </tbody>
    </table>
        <br>
    {% endfor %}






{% endblock %}