<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">CarRental</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'carlist' %}">Cars</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="">About Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="">Contact</a>
            </li>

        </ul>


        {% if request.user.is_authenticated %}
            {% if request.user.visitor.role == 'manager' %}
                <a class="nav-link" href="{% url 'managerProfile' %}">Manager Panel</a>
            {% elif request.user.visitor.role == 'admin' %}
                <a class="nav-link" href="{% url 'admin:index' %}">Admin Panel</a>
            {% else %}
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            {% endif %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a class="nav-link " href="{% url 'login' %}">Login</a>
            <a class="nav-link " href="{% url 'register' %}">Register</a>
        {% endif %}


    </div>
</nav>